on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Show build folder contents (debug)
      run: ls -la ./build

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H t-sib.ru >> ~/.ssh/known_hosts

    - name: Deploy files with rsync
      run: |
        rsync -avz --delete ./build/ bitrix@t-sib.ru:/home/bitrix/ext_www/vacuum.t-sib.ru
